<div class="container">
    <div class="col">
        <app-reserve-add
            [sendCarList]="carList"
            [sendUserInfo]="userList[0]"
        ></app-reserve-add>
    </div>
    <div class="col-9">
        <app-reserve-list
            [sendRentalList]="rentalList"
            (selectedRental)="onEdit($event)"
        ></app-reserve-list>
    </div>
    <div clss="col" *ngIf="editing">
        <app-reserve-detail
            [sendRentalInfo]="rentalList[editRentalIndex]"
            [sendCarList]="carList"
            (editStatus)="editComplete($event)"
        ></app-reserve-detail>
    </div>
</div>>