.container{
    display: flex;
}

.box1{
    float: left;
    width: 250px;
}

.box2{
    float: left;
    width: 215px;
    margin-left: 10px;
}

#buttonBox1 {
    width: 175px;
    height: 50px;
    display:inline-block;
    margin-left: 0;
    margin: 0 10px 0 0;
}

.result{
    margin-top: 10px;
}

#result{
    padding: 20px 0 20px 0;
    text-align:center;
    background-color: bisque;
}

.card-header {
    background-color: black;
    color: white;
}

br{
    line-height: 1px;
}