<div class="container rentForm">
  <div class="card">
    <div class="card-body">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Renter Name</li>
        <li class="list-group-item">Address</li>
        <li class="list-group-item">Email</li>
        <li class="list-group-item">Contact Number</li>
      </ul>
      <br />
      <ul class="list-group list-group-flush">
        <li class="list-group-item">{{f.cModel.value}}</li>
        <li class="list-group-item">{{f.cBrand.value}}</li>
        <li class="list-group-item">{{f.cType.value}}</li>
        <li class="list-group-item">{{f.cTransmission.value}}</li>
        <li class="list-group-item">{{f.cSeats.value}}</li>
      </ul>

      <br />

      <form id="rentForm" [formGroup]="rentForm" (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label for="date">Start Date</label>
              <input
                type="text"
                class="form-control"
                name="rStartDate"
                formControlName="rStartDate"
              />
            </div>
          </div>

          <div class="col">
            <div class="form-group">
              <label for="date">End Date</label>
              <input
                type="text"
                class="form-control"
                name="rEndDate"
                formControlName="rEndDate"
              />
            </div>
          </div>
        </div>
      </form>

      <button class="btn btn-dark" form="rentForm" id="buttonBox1">
        Rent
      </button>

      <br />
      <div class="card-text result" >
        <p id="result">{{result}}</p>
      </div>
    </div>
  </div>
</div>
